@charset "UTF-8";
@import "../../mixin";

.theme-defaults(){

  body{
    .alpha(1);
    background-image: url(@bg-image);
  }

  .header{
    .full();
  }


  .container-box{
    .full();
  }

  .theme-simple-one{
     background-color: rgba(0,0,0,.6);
  }

  .theme-alpha{
    background-color:rgba(0,0,0,0);
  }

  .no-scrollbar('html');
  .no-scrollbar(div);

}

