@charset "UTF-8";

@nav-color: rgb(21,177,137);

@daily-ad-info-bgcolor:white;

@copyright-area-color:@nav-color;
@copyright-master-hover-color:yellow;
@copyright-number-hover-color:@copyright-master-hover-color;

@theme-banner-bgcolor:rgb(240,242,244);
@theme-alpha:rgba(0,0,0,0);
@theme-info-bgcolor:rgb(21,177,137);
@theme-advantage-bgcolor:@theme-info-bgcolor;
@theme-cwt-bgcolor:rgb(24,33,42);

@theme-header-item-bgcolor-1:white;
@theme-header-item-bgcolor-2:@theme-header-item-bgcolor-1;

@theme-source-bgcolor:white;
@theme-source-mobile-color:rgb(235,235,235);
@theme-source-platform-color:@theme-source-mobile-color;
@theme-card-number-color:rgb(212,212,212);
@theme-concat-us-number-color:rgb(22,178,139);

@unable-bgcolor:#8c8c8c;
