@charset "UTF-8";
@import "../mixin/functions";
@import "../config";
body,html{
  padding: 0;
  margin: 0 auto;
  top:0;
  left: 0;
  font-size:@Root_Font_Size;
}

.container{
  width: 100%;
  height: auto;
  min-height: 100%;
}

#root{
  .container;
  position: absolute;
}

#scripts-area{
  display: none;
}

#debug-area{
 width: 100%;
 padding: 10px;
}

.area-wrap{
  .container;
}

.area-flex-wrap{
  .container;
  .flex-display();
}

.full-width{
  width: 100%;
  height: auto;
}

.line {
   width: 100%;
}

.text{
   font-size:16px;
}

.align-center{
  text-align: center;
}

.center-box{
  display: block;
  margin: 0 auto;
}

footer{
  .full-width;
  padding-bottom:10px;
}

.yellow{
  background-color: yellow;
}
.font-yellow{
  color: yellow;
}

.red{
  background-color: red;
}
.font-red{
  color: red;
}

.blue{
  background-color: blue;
}
.font-blue{
  color: blue;
}


.green{
  background-color: green;
}
.font-green{
  color: green;
}

.white{
  background-color: white;
}
.font-white{
  color: white;
}

.black{
  background-color: black;
}
.font-black{
  color: black;
}

.pink{
  background-color: pink;
}
.font-pink{
  color: pink;
}
.strong{
  font-weight: bold;
}
.h1{
  font-size: 50px;
}
.h2{
  font-size: 40px;
}
.h3{
  font-size:30px;
}

.h4{
  font-size: 20px;
}
.h5{
  font-size: 18px;
}
.h6{
  font-size: 16px;
}
.h7{
  font-size: 14px;
}
.h8{
  font-size: 12px;
}
.h9{
  font-size: 10px;
}
.h10{
  font-size: 8px;
}

.btn{
  display: block;
}