@charset "UTF-8";
@import "../mixin/functions";

body,html{
  padding: 0;
  margin: 0 auto;
  top:0;
  left: 0;
}

.container{
  width: 100%;
  height: auto;
  min-height: 100%;
}

#root{
  .container;
  position: absolute;
}

#scripts-area{
  display: none;
}

#debug-area{
 width: 100%;
 padding: 10px;
}

.area-wrap{
  .container;
}

.area-flex-wrap{
  .container;
  .flex-display();
}

footer{
  width: 100%;
  height: auto;
  padding-bottom:10px;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
}

.pink{
  background-color: pink;
}