@charset "UTF-8";

@media_size : 930px;

@pc_size:931px;
@mobile_size:@media_size;

@version : '0.0.1';
@author: 'hewei';

@withe: #ffffff;
@black: #000000;
@blue: #0000ff;
@red: #ff0000;
@green: #00ff00;
@yellow: #ff0f;
