@charset "UTF-8";
body,
html {
  padding: 0;
  margin: 0 auto;
  top: 0;
  left: 0;
  font-size: 16 px;
}
.container {
  width: 100%;
  height: auto;
  min-height: 100%;
}
#root {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
}
#scripts-area {
  display: none;
}
#debug-area {
  width: 100%;
  padding: 10px;
}
.area-wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.area-flex-wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.full-width {
  width: 100%;
  height: auto;
}
.line {
  width: 100%;
}
.text {
  font-size: 16px;
}
.align-center {
  text-align: center;
}
.center-box {
  display: block;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.yellow {
  background-color: yellow;
}
.font-yellow {
  color: yellow;
}
.red {
  background-color: red;
}
.font-red {
  color: red;
}
.blue {
  background-color: blue;
}
.font-blue {
  color: blue;
}
.green {
  background-color: green;
}
.font-green {
  color: green;
}
.white {
  background-color: white;
}
.font-white {
  color: white;
}
.black {
  background-color: black;
}
.font-black {
  color: black;
}
.pink {
  background-color: pink;
}
.font-pink {
  color: pink;
}
.strong {
  font-weight: bold;
}
.h1 {
  font-size: 50px;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 30px;
}
.h4 {
  font-size: 20px;
}
.h5 {
  font-size: 18px;
}
.h6 {
  font-size: 16px;
}
.h7 {
  font-size: 14px;
}
.h8 {
  font-size: 12px;
}
.h9 {
  font-size: 10px;
}
.h10 {
  font-size: 8px;
}
.btn {
  display: block;
}
img,
ul,
li,
ol,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
section,
dt,
thead,
td,
tr,
html,
body {
  zoom: 1;
  margin: 0 auto;
  padding: 0;
}
img:before,
ul:before,
li:before,
ol:before,
span:before,
div:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
section:before,
dt:before,
thead:before,
td:before,
tr:before,
html:before,
body:before {
  content: '';
  display: block;
}
img:after,
ul:after,
li:after,
ol:after,
span:after,
div:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
section:after,
dt:after,
thead:after,
td:after,
tr:after,
html:after,
body:after {
  content: '';
  display: table;
  clear: both;
}
ul,
menu,
dir,
p {
  display: block;
  list-style-type: none;
  -o-margin-before: 0;
  -m-margin-before: 0;
  -ms-margin-before: 0;
  -moz-margin-before: 0;
  -khtml-margin-before: 0;
  -webkit-margin-before: 0;
  margin-before: 0;
  -o-margin-afte: 0;
  -m-margin-afte: 0;
  -ms-margin-afte: 0;
  -moz-margin-afte: 0;
  -khtml-margin-afte: 0;
  -webkit-margin-afte: 0;
  margin-afte: 0;
  -o-margin-start: 0;
  -m-margin-start: 0;
  -ms-margin-start: 0;
  -moz-margin-start: 0;
  -khtml-margin-start: 0;
  -webkit-margin-start: 0;
  margin-start: 0;
  -o-margin-end: 0;
  -m-margin-end: 0;
  -ms-margin-end: 0;
  -moz-margin-end: 0;
  -khtml-margin-end: 0;
  -webkit-margin-end: 0;
  margin-end: 0;
  -o-padding-start: 0;
  -m-padding-start: 0;
  -ms-padding-start: 0;
  -moz-padding-start: 0;
  -khtml-padding-start: 0;
  -webkit-padding-start: 0;
  padding-start: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul li {
  list-style: none;
}
section {
  position: inherit;
}
#debug-area[class="active"] {
  height: auto;
  display: block;
}
#debug-area[class="default"] {
  height: 0;
  display: none;
}
.off,
.hide {
  display: none;
}
.active,
.on {
  display: block;
}
nav,
.nav {
  min-height: 50px;
}
@media screen and (min-width: 931px) {
  .nav {
    min-height: 60px;
  }
}
nav,
.nav {
  min-height: 50px;
}
@media screen and (max-width: 930px) {
  .nav {
    min-height: 40px;
  }
}
.Carousel-container-box {
  display: block;
  overflow: hidden;
}
.Carousel-Controller {
  width: 100%;
  min-height: 1.25 em;
  position: relative;
}
.Carousel-item {
  width: 100%;
  height: 100%;
  display: none;
  float: left;
  filter: alpha(opacity=0);
  -o-Opacity: 0;
  -m-Opacity: 0;
  -ms-Opacity: 0;
  -moz-Opacity: 0;
  -khtml-Opacity: 0;
  -webkit-Opacity: 0;
  Opacity: 0;
  -webkit-transition: display 6s;
  -moz-transition: display 6s;
  -o-transition: display 6s;
  transition: display 6s;
  -webkit-transition: Opacity 3s;
  -moz-transition: Opacity 3s;
  -o-transition: Opacity 3s;
  transition: Opacity 3s;
}
.Carousel-item[class~="active"] {
  display: block;
  filter: alpha(opacity=1);
  -o-Opacity: 1;
  -m-Opacity: 1;
  -ms-Opacity: 1;
  -moz-Opacity: 1;
  -khtml-Opacity: 1;
  -webkit-Opacity: 1;
  Opacity: 1;
}
.Carousel-item-tips {
  display: none;
  width: 100%;
  min-height: 0.625 em;
  position: relative;
}
.Carousel-item-tips[class~="on"] {
  display: block;
}
.Carousel-item-tips[class~="off"] {
  display: none;
}
.Carousel-items-default-group {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 1108px) {
  /**[ mobile rules carousel ]**/
  .area-wrap[class~="mobile-content-auto"] {
    max-height: 500%;
    min-height: 50px;
    width: 100%;
    height: auto;
  }
  .Carousel-container-box {
    min-height: 100%;
    height: auto;
  }
  .Carousel-items-default-group {
    width: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    overflow: visible;
  }
  .Carousel-items-default-group[class~='mobile-off'] .Carousel-item {
    display: block;
    filter: alpha(opacity=1);
    -o-Opacity: 1;
    -m-Opacity: 1;
    -ms-Opacity: 1;
    -moz-Opacity: 1;
    -khtml-Opacity: 1;
    -webkit-Opacity: 1;
    Opacity: 1;
  }
}
body {
  filter: alpha(opacity=1);
  -o-Opacity: 1;
  -m-Opacity: 1;
  -ms-Opacity: 1;
  -moz-Opacity: 1;
  -khtml-Opacity: 1;
  -webkit-Opacity: 1;
  Opacity: 1;
}
.header {
  width: 100%;
  height: 100%;
}
.copyright {
  min-height: 90px;
  max-height: 100px;
  height: auto;
  background-color: #15b189;
}
.container-box {
  width: 100%;
  height: 100%;
}
.wrap-image {
  width: 100%;
  min-width: 99%;
  min-height: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.theme-simple-one,
footer {
  background-color: #15b189;
}
.theme-alpha {
  background-color: rgba(0, 0, 0, 0);
}
.theme-copyright-size {
  width: 90%;
  min-width: 30%;
  max-height: 100%;
  height: auto;
}
.logo {
  display: block;
  max-height: 100%;
  min-height: 50px;
  height: auto;
  width: 250px;
}
.nav-logo-img {
  width: 250px;
  height: 50px;
}
.copyright-master,
.copyright-number {
  width: auto;
  display: inline-block;
  margin: 0 auto;
}
.copyright-box {
  padding-top: 40px;
}
.copyright-master a:hover,
.copyright-number a:hover {
  color: yellow;
}
#daily-ad-info {
  min-height: 363px;
  max-height: 400px;
  height: auto;
  width: 100%;
  background-color: white;
}
#page-tools-area {
  width: auto;
  height: auto;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 1000;
}
.theme-info-bgcolor {
  background-color: #15b189;
}
.theme-advantage-bgcolor {
  background-color: #15b189;
}
.theme-cwt-bgcolor {
  background-color: #18212a;
}
.theme-header-item-bgcolor-1,
.theme-header-item-bgcolor-2 {
  background-color: white;
}
.theme-source-bgcolor {
  background-color: white;
}
.theme-qrcode-size {
  min-height: 10px;
  min-width: 10px;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.theme-btn-submit {
  width: 200px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: .2rem;
  background-color: #15b189;
  color: white !important;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
.theme-btn-submit:hover,
.input:hover {
  box-shadow: 0 3px 3px #acd5e8;
  border-color: #e1e5ec !important;
  font-size: 20px;
  font-weight: bold;
}
.input {
  width: 200px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: .2rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
.theme-portrait {
  min-width: 50px;
  min-height: 50px;
  height: 150px;
  width: 150px;
  border-radius: 90px;
}
.unable {
  background-color: #8c8c8c;
}
.unable:hover,
.unable:active,
.unable:visited,
.unable:focus {
  background-color: #8c8c8c;
}
.test-info {
  width: 90%;
  max-height: 300px;
  height: auto;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
.test-info:after {
  content: "";
  width: 100%;
  font-size: 1px;
  height: 1px;
  display: block;
  background-color: #15b189;
  color: #15b189;
  filter: alpha(opacity=0.2);
  -o-Opacity: 0.2;
  -m-Opacity: 0.2;
  -ms-Opacity: 0.2;
  -moz-Opacity: 0.2;
  -khtml-Opacity: 0.2;
  -webkit-Opacity: 0.2;
  Opacity: 0.2;
}
.form {
  padding-bottom: 20px;
}
.logo-lang {
  padding-top: 4px;
  padding-bottom: 40px;
}
.username {
  background-image: url("../images/v1/username-input.png");
  background-size: cover;
}
.password {
  background-image: url("../images/v1/password-input.png");
  background-size: cover;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
  filter: alpha(opacity=0);
  -o-Opacity: 0;
  -m-Opacity: 0;
  -ms-Opacity: 0;
  -moz-Opacity: 0;
  -khtml-Opacity: 0;
  -webkit-Opacity: 0;
  Opacity: 0;
}
div -webkit-scrollbar {
  display: none;
  width: 0;
  filter: alpha(opacity=0);
  -o-Opacity: 0;
  -m-Opacity: 0;
  -ms-Opacity: 0;
  -moz-Opacity: 0;
  -khtml-Opacity: 0;
  -webkit-Opacity: 0;
  Opacity: 0;
}
@media screen and (max-width: 1108px) {
  .copyright-box {
    font-size: 12px;
  }
  .header,
  .Carousel-item {
    max-height: 100%;
    min-height: 50px;
    height: auto;
    width: 100%;
  }
  .area-wrap {
    max-height: 200%;
    min-height: 50px;
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 250px) {
  .logo {
    width: 100%;
  }
  .nav-logo-img {
    width: 125px;
    height: 25px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
  }
}
@media screen and (max-width: 280px) {
  .theme-btn-submit {
    max-width: 80%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: .2rem;
    background-color: #15b189;
    color: white !important;
    cursor: pointer;
    text-align: center;
  }
  .theme-btn-submit:hover {
    font-size: 18px;
  }
  .input {
    max-width: 80%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: .2rem;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
  }
  .theme-portrait {
    height: 100px;
    width: 100px;
  }
  .theme-qrcode-size {
    width: 60%;
  }
}
